/* ContentHeader.module.css */
.content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os itens horizontalmente */
    padding: 20px;
    /* Adicione outros estilos conforme necessário */
    font-family: var(--primary-font);
}

.content-image {
    margin-top: 12px;
}

@media (min-width: 1200px) {
    .content-image {
        width: 100%;
        overflow: hidden;
    }

}

.title {
    top: -245px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -45%;
    width: 480px;
    font-size: 53px;
    color: white;
    font-family: var(--primary-font);
    position: relative;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -35px;
    font-family: var(--primary-font);

}

.content-form {
    display: flex;
    justify-content: center;
    position: relative;
    left: 12%;
    width: 430px;
    height: 280px;
    background-color: white;
    border-radius: 30px;
    top: -500px;
    font-family: var(--primary-font);

}

.cpf-input-form {
    width: 390px;
    height: 50px;
    border: none;
    background-color: rgb(246, 240, 240);
    max-width: 390px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
    left: 5%;
    position: relative;
    outline: none;
    text-align: left;
    color: black;
    font-weight: 600;
    font-family: var(--primary-font);

}

.cpf-input-form::placeholder {
    font-size: 20px;
    font-weight: 600;
    color: rgb(45, 44, 44);
    text-align: left;
}


.cpf-input-form:focus {
    outline: 2px solid var(--purple-nu);
}

.btn-continue {
    height: 50px;
    border: none;
    background-color: var(--purple-nu);
    color: white;
    border-radius: 30px;
    width: 390px;
    max-width: 390px;
    position: relative;
    left: 5%;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);

}

.btn-continue:hover {
    background-color: var(--purple-hover);
    font-family: var(--primary-font);


}


.btn-continue:active {
    transform: scale(0.95);
    /* Reduz um pouco o tamanho ao clicar */
    opacity: 0.8;
    /* Diminui um pouco a opacidade */
    transition: transform 0.1s ease, opacity 0.1s ease;
    /* Adiciona uma transição suave para o efeito */
}

.title-form {
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 20px;
    color: black;
    font-weight: 600;
}

.arrow-form {
    display: flex;
    justify-content: end;
    position: relative;
    left: -15px;
    top: -30px;
    font-size: 19px;
}

@media (max-width: 768px) {
    .title {
        position: relative;
        top: -500px;
        font-size: 45px;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 95%;
        left: 95px;
        right: 95px;

    }

    .content-form {
        display: flex;
        justify-content: center;
        margin: 0;
        position: relative;
        left: 0;
        top: -508px;
        width: 95%;
        ;

    }

    .btn-continue,
    .cpf-input-form {

        width: 90%;
    }
}

