:root {
    font-family: 'Roboto', sans-serif;
    --primary-font: 'Roboto';
    --purple-nu: #6f11b3;
    --purple-hover: #561186;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: var(--primary-font);
}

