.content-image {
    width: 550px;
    display: flex;
    justify-content: end;
    position: relative;
    left: 350px;
    top: -455px;
}

.content-overlay-cards-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -790px;
    left: -210px;
    font-family: var(--primary-font);
}

.title {
    font-weight: 700;
    font-size: 50px;
}

.paragraph {
    width: 415px;
    font-size: 23px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .title {
        display: flex;
        justify-content: center;
        margin: 0;
        align-content: center;
        position: relative;
        top: -105px;
        font-size: 2.5rem;
        text-align: center;
        left: 205px;
        right: 205px;
    }

    .content-image {
        display: flex;
        justify-content: center;
        margin: 0;
        align-content: center;
        left: 0%;
        top: -415px;
        width: 110%;
    }

    .paragraph {
        position: relative;
        left: 210px;
        font-size: 22px;
        width: 100%;
        align-content: center;
        justify-content: center;
        display: flex;
        right: 210px;
        top: 340px;
    }
}