.content-footer {
    background-color: black;
    color: gray;
    padding: 40px;
}

@media (max-width: 768px) {
    .logo-footer {
        position: relative;
        display: flex;
        justify-content: start;
        left: -120px;
    }

    .content-footer {
        font-size: small;
    }
}