/* BoxBenifits.module.css */
.boxBenefits {
    display: flex;
    justify-content: space-around;
    /* Distribui os cards igualmente em telas maiores */
    padding: 20px;
    /* background-color: var(--purple-nu); */
}

@media (min-width:1200px) {
    .boxBenefits {
        margin-top: -16%;
        margin-bottom: 33vh;
    }
}

.benefitCard {
    background-color: #fff;
    border-radius: 35px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.33% - 40px);
    /* Largura para telas maiores (3 cards) */
    margin: 10px;
    /* Espaçamento entre os cards */
    height: 520px;
}

.icon {
    font-size: 4rem;
    color: black;
    margin-bottom: 10px;
    position: relative;
    left: 0;
    text-align: left;
}

.title {
    font-size: 50px;
    margin-bottom: 8px;
    color: black;
    text-align: left;
    position: relative;
    left: 14px;
}

.description {
    font-size: 1.5rem;
    color: black;
    text-align: left;
    position: relative;
    left: 13px;
}



/* Media query para tablets (aproximadamente 768px) */
@media (max-width: 768px) {
    .boxBenefits {
        flex-direction: column;
        margin-bottom: 25vh;
        position: relative;
        top: 40px;
        gap: 10px;
    }

    .benefitCard {
        width: 100%;
        margin: 10px 0;
        flex-basis: auto;
        height: 280px;
        position: relative;
        top: 235px;
        padding: 20px;
    }


}

/* Media query para mobile (aproximadamente 480px) - Opcional, já está em coluna */
@media (max-width: 480px) {

    /* Você pode adicionar estilos específicos para mobile aqui, se necessário */
    .icon {
        font-size: 40px;
        /* Ajuste o tamanho do ícone se precisar */
    }

    .title {
        font-size: 30px;
        /* Ajuste o tamanho do título se precisar */
    }

    .description {
        font-size: 17px;
        /* Ajuste o tamanho da descrição se precisar */
    }
}