.content-home-page {
    overflow: hidden;
}

.content-iteration-benefits {
    width: 100%;
    min-height: 130vh;
    margin-bottom: 50vh;
    background-color: var(--background-benefits);

}

.content-iteration-box-benefits {
    margin-top: 210px;
}

@media (max-width:1200px) {
    .content-iteration-benefits {
        height: 145vh;
    }
}

@media (max-width: 768px) {
    .content-iteration-benefits {
        display: block;
        justify-content: center;
        margin-top: -580px;
        /* min-height: 10vh; */
    }

    .content-iteration-box-benefits {
        display: flex;
        position: relative;
        margin-top: -80%;
    }
}

.final-request {
    background-color: var(--background-benefits);
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 110vh;
    /* margin-top: -1800px; */
}

@media (min-width: 1200px) {
    .final-request {
        margin-top: -50%;
    }
}

@media (max-width: 768px) {
    .final-request {
        margin-top: -230vh;
        height: 140vh;
    }
}